<div class="hero">
  <h1 class="hero__title">Welcome to HelpDesk</h1>
  <p class="hero__subtitle">
    A support ticket management system. Sign in to create tickets, add comments, and manage support requests.
  </p>
  <div class="hero__actions">
    <%= link_to "Sign in to get started", new_session_path, class: "btn btn--primary" %>
  </div>
</div>
