name: Build

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      CI: true
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.3"]
        gemfile: [
          "gemfiles/rails8.gemfile"
        ]
        include:
        - ruby: "3.0"
          gemfile: "gemfiles/rails6.gemfile"
        - ruby: "3.1"
          gemfile: "gemfiles/rails7.gemfile"
        - ruby: "3.2"
          gemfile: "gemfiles/rails7.gemfile"
        - ruby: "3.3"
          gemfile: "gemfiles/rails71.gemfile"
        - ruby: "4.0"
          gemfile: "gemfiles/rails8.gemfile"
        - ruby: "3.4"
          gemfile: "gemfiles/railsmaster.gemfile"
    steps:
    - uses: actions/checkout@v6
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run Ruby Next
      run: bundle exec rake nextify
    - name: Run Minitest tests
      run: |
        bundle exec rake test
    - name: Run RSpec tests
      run: |
        bundle exec rspec --force-color
