name: JRuby Build

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      CI: true
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v1
      with:
        path: /home/runner/bundle
        key: bundle-${{ hashFiles('**/gemfiles/jruby.gemfile') }}-${{ hashFiles('**/*.gemspec') }}
        restore-keys: |
          bundle-
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: jruby-head
    - name: Bundle install
      run: |
        bundle config --global gemfile gemfiles/jruby.gemfile
        bundle config path /home/runner/bundle
        bundle install
        bundle update
    - name: Run Ruby Next
      run: bundle exec rake nextify
    - name: Run Minitest tests
      run: |
        bundle exec rake test
    - name: Run RSpec tests
      run: |
        bundle exec rspec --force-color
    - name: Run Minitest tests in isolation
      run: |
        bundle exec rake test:isolated
