name: JRuby Build

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      BUNDLE_GEMFILE: gemfiles/jruby.gemfile
      CI: true
    steps:
    - uses: actions/checkout@v6
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: jruby
        bundler-cache: true
    - name: Run Ruby Next
      run: bundle exec rake nextify
    - name: Run Minitest tests
      run: |
        bundle exec rake test
    - name: Run RSpec tests
      run: |
        bundle exec rspec --force-color
    - name: Run Minitest tests in isolation
      run: |
        bundle exec rake test:isolated
